[Unit]
Description=FIFO Spamer Service

[Service]
Type=simple
ExecStart=/opt/fifo-spamer-service.sh
ExecReload=kill -HUP $MAINPID
User=root
Group=root

[Install]
WantedBy=multi-user.target
