[Unit]
Description=Process Watcher Service

[Service]
Type=simple
ExecStart=/home/user/labworks/lab3/process-watcher-service.sh
Restart=on-failure
RestartSec=5
User=user
Group=user

[Install]
Alias=pws.service
